QPushButton {
  background-color: rgb(85, 170, 0);
  border-style: outset;
  border-width: 1px;
  border-color: rgb(83, 1167, 5);
  font: 12px;
  border-radius: 5px;
  min-width: 5em;
  padding: 4px;
}
QPushButton:pressed {
  background-color: rgb(90, 175, 5);
  border-style: inset;
}